@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --calendar-free:   #10b981; /* emerald‑500 */
  --calendar-partial:#facc15; /* yellow‑400 */
  --calendar-full:   #f87171; /* red‑400 */
}
