@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --calendar-free:   #10b981; /* emerald‑500 */
  --calendar-partial:#facc15; /* yellow‑400 */
  --calendar-full:   #f87171; /* red‑400 */
}

.btn-nav {
  @apply bg-slate-800 text-white text-sm rounded px-2 py-1 hover:bg-slate-700;
}
